.movie-grid {
    display: grid;
    gap: 18px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .movie-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1280px) {
    .movie-grid {
        grid-template-columns: repeat(var(--movie-grid-columns, 8), 1fr);
    }
}

.movie-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}