@keyframes body-load-effect {
  0% {
    opacity: 100%;
  }

  75% {
    opacity: 100%;
  }

  to {
    opacity: 0;
    visibility: hidden;
    z-index: -100;
  }
}

@keyframes logo-load {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.05);
  }

  to {
    transform: scale(1)
  }
}

@keyframes logo-fade {
  0% {
    opacity: 1
  }

  80% {
    transform: scale(.6);
    opacity: 0
  }

  to {
    opacity: 0
  }
}

.loading-page {
  position: fixed;
  inset: 0;
  height: 100vh;
  z-index: 999999;

  &.loaded {
    animation: body-load-effect 1.5s forwards;

    .loading-page__content {
      animation: logo-fade 1.5s forwards;
    }
  }
}

.loading-page__content {
  max-width: 600px;
  animation: logo-load 1.5s infinite;
}

.loading-page__logo {
  width: 80%;
  max-width: 360px;
}
