.category-container {
    max-width: 1536px;
    margin: 0 auto;
    padding-inline: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
    background: var(--color-background);

    @media (max-width: 1199px) {
        padding-top: 40px;
    }
}

.category-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.category-header-icon {
    font-size: var(--font-size-4xl);
    margin-right: 12px;
}

.category-title {
    margin-bottom: 0;
    color: var(--color-text);
    font-weight: bold;
}

.category-filter {
    margin-bottom: 0.75rem;
    color: var(--color-primary);
    font-weight: 600;
    cursor: pointer;
    font-size: var(--font-size-base);
}

.category-grid {
    display: grid;
    gap: 10px;
    width: 100%;
}


/* Mobile first approach */

.category-grid {
    grid-template-columns: repeat(2, 1fr);
}

/* Tablets and small desktops */

@media (min-width: 768px) {
    .category-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Medium desktops */

@media (min-width: 1024px) {
    .category-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}


/* Large desktops */

@media (min-width: 1280px) {
    .category-grid {
        grid-template-columns: repeat(8, 1fr);
    }
}
