.actor-table {
  flex-grow: 1;

  thead {
    th {
      background-color: var(--bs-dark);
      color: var(--bs-white);
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.actor-item__image {
  width: 60px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
